.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}
main{
    width: 80vw;
    flex-direction: column;
}
.grilla{
    max-width: 50vw;
    flex-wrap: wrap;
}
.image-card{
    height: 15em;
    width: 10em;
    box-shadow: 0px 0px 10px 1px rgb(156, 109, 175);
    border-radius: 10px;
    padding:1em;
    margin: 1em;
}
.image{
    max-width: 10em;
    max-height: 15em;

    
}